/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 自定义样式 */
a {
  text-decoration: none;
  color: black;
}

/* 修改vant默认search搜索框样式 */
.van-search__content {
	border: 1px solid #7b7b7b !important;
}

img {
	vertical-align: bottom;
}
/* 默认还是有赞自带icon图标，一旦找不到，就用iconfont */
.van-icon {
  font-family: 'vant-icon', 'iconfont' !important;
}

.van-icon-iconfont {
  line-height: 20px !important;
}

/* 导航栏左边返回按钮颜色 */
.van-nav-bar__left .van-icon {
  color: #999 !important;
}

/* TODO: 坑：vant滑动cell的宽度设置了貌似不起作用，还需要在这里手动设置
  而且字体放在了span标签中，无法垂直居中对齐
*/
.van-swipe-cell__right {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 65px;
  background-color: #f44
}

.van-swipe-cell__right span {
    font-weight: normal;
    font-size: 20px;
    /* width: 50px; */
}

.sw-margin-lr-10 {
  margin: 0 10px;
}
.sw-margin-lr-20 {
  margin: 0 20px;
}
.sw-margin-lr-30 {
  margin: 0 30px;
}
input {
  -webkit-appearance: none;
  /*去除input默认样式*/
}
/* chrome记住密码输入框默认黄色背景消除 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}